@import url(./_reset.css);
@import url(./_base.css);
@import url(./_typography.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

/* write your CSS here */
/* * {
  background-color: rgba(240, 128, 128, 0.158);
} */

:root {
  --dark-blue: #6f94e6;
  --light-blue: #3f89d3;
  --active-blue: #397CBF;
  --grey: #e5e5e5;
  --dark-grey: #262f38;
  font-family: 'Poppins';
}

.main {
  min-height: 100vh;
  background-color: var(--grey);
}

.main__header {
  position: sticky;
  top: 0;
  min-height: 80px;
  background-color: white;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.main__top-background {
  min-height: 40vh;
  min-width: 100%;
  background-color: var(--light-blue);
}

.main__wrapper {
  position: fixed;
  inset: 0;
  top: 100px;
  left: calc((100% - 600px) / 2)
}

.wrapper__scroller {
  max-width: 600px;
  height: 100%;
  margin: auto 0;
  display: flex; 
  flex-wrap: wrap;
  gap: 20px;
  overflow: scroll;
}

.wrapper__scroller > * {
  flex-basis: calc(50% - 20px);
}

.scroller__card {
  background-color: var(--dark-grey);
  color: white;
  border-radius: 10px;

  padding: 30px 0;

  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.card__title {
  display: flex; 
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.card__image {
  border-radius: 50%;
  border: 2px solid white;
  width: 100px;
}


.card__title h3 {
  font-size: 1rem;
  color: rgb(173, 172, 172);

}

.card__social {
  display: flex;
}

.social__stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-blue);
  flex-basis: calc(100% / 3);
  padding: 20px 10px;

}

.social__stat--active {
  background-color: var(--active-blue);
}

.social__stat h3 {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.559);
}

.card__cta {
  font-size: 12px;
  border: 2px solid white;
  padding: 10px 40px;
  text-transform: uppercase;
}


